ایمیل های کاربران و شماره تلفن انها

mohammad@gmail.com
0910889945

reza@gmail.com
0939978589

ali@gmail.com
09185665153

sajad@gmail.com
ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ


 مورد نیاز STORED-PROCEDURE  ساخت 

CREATE PROCEDURE sp_InsertComment
    @Body NVARCHAR(400),
    @CreatedDate DATETIME
AS
BEGIN
    INSERT INTO Comments (Body, CreatedDate)
    VALUES (@Body, @CreatedDate)
END


ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ

