
<div class="search-container">
    <input type="text" class="search-input" placeholder="جستجو..." aria-label="serch">
    <button class="search-button">serch</button>
</div>

<main>
     <div class="article-container">

          @foreach (var Advertisement in Model)
          {
                <div class="article">

                    <a asp-action="Detail" asp-route-id="@Advertisement.Id">

                        <img src="@Advertisement.ImageUrl" alt="@Advertisement.Title" />
                        <h3>@Advertisement.Title</h3>

                    </a>
            </div>
          }

      </div>
</main>

