@model Divar.Models.Advertisement
@{
    Layout = null;
}



<form asp-action="Edit" method="post" style="text-align: center;">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <h1>موجودیت کالا جهت نمایش در سایت</h1>

        <label asp-for="IsAvailable" style="font-size: 24px;"></label>
        <div>
            <label>
                <input type="radio" asp-for="IsAvailable" value="true" />
                True
            </label>
            <label>
                <input type="radio" asp-for="IsAvailable" value="false" />
                False
            </label>
        </div>
        <span asp-validation-for="IsAvailable" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<br />

<b>

    <div class="center" style="text-align: center;">
        <a asp-action="index" asp-controller="admin" class="button">go to admin</a>
    </div>


</b>
<style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: black; /* رنگ دکمه */
        border: none;
        border-radius: 5px;
        text-decoration: none; /* حذف خط زیر */
        text-align: center; /* مرکز قرار دادن متن */
        cursor: pointer; /* تغییر نشانگر ماوس */
    }

        .button:hover {
            background-color: #0056b3; /* رنگ دکمه هنگام هاور */
        }
</style>