<h2>Login</h2>

<form asp-action="Login" method="post">
    <div>
        <label>ایمیل</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label>رمز عبور</label>
        <input type="password" name="password" />
    </div>

    <button type="submit">ورود</button>
</form>